<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<title>Dashboard di gestione tickets</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<th:blook th:fragment="fragments(route)" > 
		<div th:fragment="successAlert(message)" class="alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${message}"> </span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		
		
		<div th:fragment="error(message)" class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${message}"> </span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	</th:blookth:fragment="navbar(route)">
	
	
	<footer th:fragment="footer" class="mt-4">
		<div class="container">
                <p>&copy; 2024</p>
				<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
            </div>
        </footer>

        
    </body>
</html>
