<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/fragments :: head}">
	<title>Note</title>
</head>
<body>
	<header th:insert="~{fragments/navbarAdmin :: navbarAdmin('indexAdmin')}"></header>
	
	<!-- Controllo se la lista tickets è vuota -->
	                    <div th:if="${note != null and note.isEmpty()}">
	                        <p class="alert alert-warning text-center">Non ci sono tickets al momento.</p>
	                    </div>
						
	<div class="container mt-5">
	        <h2>Note per il Ticket ID: <span th:text="${ticket.id}"></span></h2>
	        <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>Descrizione</th>
	                    <th>Data Creazione</th>
	                    <th>Autore</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="note : ${notes}">
	                    <td th:text="${note.id}"></td>
	                    <td th:text="${note.descrizione}"></td>
	                    <td th:text="${note.dataCreazioneFormatted}"></td>
	                    <td th:text="${note.user.nome}"></td> 
	                </tr>
	            </tbody>
	        </table>
	        <a th:href="@{/notes/create/{ticketId}(ticketId=${ticket.id})}" class="btn btn-primary">Crea una Nuova Nota</a>
	        <a href="/tickets/admin" class="btn btn-secondary">Torna Indietro</a>
	    </div>
</body>
</html>
